<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="REALM" value="ACME"/>
		<add key="SCENARIO" value="production"/>
		<add key="URL_HOST" value="https://pbmesodb01.pciltd.com.sg/opcenterrp/"/>
		<add key="PRIVATE_KEY_PATH" value="C:\Cert\ACME-production-PrivateKey-20230621-124122329.xml"/>
		<add key="USERNAME" value="CamstarAdmin"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>